﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
            <h2>Surveys</h2>
            <p>Survey API is up and running. Run react SPA to use.</p>    
        </div>
    </div>
