﻿/* Padding to keep content from hitting the edges */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide hero bar */
    .jumbotron {
        display: none;
    }
}
